@charset "UTF-8";

/* 기본 테이블 */
th, td{
	border: 1px solid #6f6f6f;
}
tr:first-of-type{
	height: 50px;
	background-color: #a0a0a0;
	color: #fcfcfc;
	font-size: 17px;
	text-align: center;
}

/* reserveMain */
#movieform{
	margin-left: 100px;
}

#tdsubject{
	width: 300px;
	height: 510px;
	margin: 10px;
	overflow-y: auto;
}
#tdlocal, #tdcinema{
	width: 150px;
	height: 510px;
	margin: 10px;
}
#tdcinema{
	overflow-y: auto;
}
#tddate{
	width: 320px;
	height: 90px;
	padding: 5px;
	white-space: nowrap;
	overflow: auto;
}
#tdtime{
	width: 300px;
	text-align: center;
	margin: 10px;
	height: 400px;
}

/* radio박스 css */
input:checked+label{
	background: #e6c0bf;
	border-color: #e6c0bf;
}

#tdsubject label{
	border:1px solid #e2e2e2;
	display: inline-block;
	padding: 10px;
	width: 290px;
	text-align: center;
}
#tdsubject input{
	display: none;
}

#tdlocal label{
	border:1px solid #e2e2e2;
	display: inline-block;
	padding: 10px;
	width: 140px;
	text-align: center;
}
#tdlocal input{
	display: none;
}
#tdcinema label{
	border:1px solid #e2e2e2;
	display: inline-block;
	padding: 10px;
	width: 140px;
	text-align: center;
}
#tdcinema input{
	display: none;
}
#tddate label{
	border:1px solid #e2e2e2;
	display: inline-block;
	margin: 5px;
	padding: 5px;
	width: 50px;
	height: 50px;
	white-space: pre;
	border-radius: 50px;
	text-align: center;
	font-size: 12px;
}
#tddate input{
	display: none;
}
#tdtime label{
	border:1px solid #e2e2e2;
	display: inline-block;
	padding: 10px;
	width: 100px;
	text-align: center;
}
#tdtime input{
	display: none;
}

/* 클릭시 보이게 설정 */
#tdcinema .cdiv{
	display: none;
}
#tdcinema .show{
	display: inherit;
}

#tdtime .tdiv{
	display: none;
	margin: 10px 20px;
}
#tdtime .show{
	display: inline-block;
}

#tsubject, #ttime{
	width: 300px;
	text-align: center;
}

#ttime{
	padding: 180px 0 0 10px;
	height: 400px;
}

/* 버튼 */
#btnre{
	margin: 20px;
	margin-left: 850px;
}

/* CinemaAddForm */
#cinema_fr{
	border: 1px solid #6f6f6f;
	background-color: #f1f1f1;
	padding: 10px;
	width: 300px;
}

#cldiv, #mldiv{
	height: 100px;
	overflow-y: auto;
}

#mlistform{
	margin-left: 100px;
}
#movie_list {
	width: 500px;
}