@charset "UTF-8";

/* 기본 테이블 */
th, td{
	border: 1px solid #6f6f6f;
}
tr:first-of-type{
	height: 40px;
	background-color: #a0a0a0;
}
#tdsubject{
	width: 250px;
	height: 190px;
	overflow-y: auto;
}
#tdlocal, #tdcinema{
	width: 130px;
	height: 190px;
	overflow-y: auto;
}
#tddate{
	width: 250px;
	height: 80px;
	white-space: nowrap;
	overflow: auto;
}
#tdtime{
	padding: 0 0 0 10px;
	height: 70px;
}

/* radio박스 css */
input:checked+label{
	background: #e6c0bf;
	border-color: #e6c0bf;
}

#tdsubject label{
	border:1px solid #e2e2e2;
	display: inline-block;
	padding: 10px;
	width: 228px;
	text-align: center;
}
#tdsubject input{
	display: none;
}

#tdlocal label{
	border:1px solid #e2e2e2;
	display: inline-block;
	padding: 10px;
	width: 90px;
	text-align: center;
}
#tdlocal input{
	display: none;
}

#tddate label{
	border:1px solid #e2e2e2;
	display: inline-block;
	width: 50px;
	height: 50px;
	text-align: center;
}
#tddate input{
	display: none;
}

#tdcinema label{
	border:1px solid #e2e2e2;
	display: inline-block;
	padding: 10px;
	width: 105px;
	text-align: center;
}
#tdcinema input{
	display: none;
}

#tddate label {
	white-space: pre;
}

#tdtime label{
	border:1px solid #e2e2e2;
	display: inline-block;
	padding: 10px;
	width: 100px;
	text-align: center;
}
#tdtime input{
	display: none;
}

#tdcinema .cdiv{
	display: none;
}
#tdcinema .show{
	display: inherit;
}

#tdtime .tdiv{
	display: none;
}
#tdtime .show{
	display: inherit;
}

#tsubject, #ttime{
	width: 250px;
	text-align: center;
}

#ttime{
	padding: 20px 0 0 10px;
	height: 70px;
}
